<div class= "container">
<div id="page-content">
<h1 class= "text-center mt-4">Create new article</h1>


<%= form_with model: @article, class: "shadow p-3 mb-5 bg-info rounded",url: articles_path, local: true do |f| %>

  <div class="form-group row">
    <%= f.label :title, class: "col-2 col-form-label text-light" %>
     <div class ="col-10">
    <%= f.text_field :title ,class:"form-control shadow rounded",placeholder: "Title of article"%>
  </div>
</div>

  <div class="form-group row">
    <%= f.label :description ,class: "col-2 col-form-label text-light" %>
  <div class ="col-10">
    <%= f.text_area :description, rows: 20,class: "form-control shadow rounded",placeholder: "Description of article" %>
  </div>
</div>
  <%# There is only new page portion / edit page is edit.html %>

<div class="form-group row">
          <%= f.label :category, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.collection_select(:category_ids, Category.all, :id, :name,
            { prompt: "Make your selection from the list below (can be empty)"}, { multiple: true, size: 3, class: "custom-select shadow rounded" }) %>
          </div>
        </div>

<div class="form-group text-center"> 
    <%= f.submit class: "btn btn-warning" %>
  </div>
<% end %>



<div class="text-center mb-5">
    <%= link_to '[Back to article list]', articles_path %>
  </div>
</div>

</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%=link_to "google","https://google.com" , class: "text-white" %></small>

      </div>
      </footer>